@page "/accountLocked"

<PageTitle>Account Locked</PageTitle>

<h1>Account Locked</h1>
<p>
	Your account creation request is still being reviewed by an administrator. If this takes too long feel free to <a href="https://schlafhase.uk/#contact">contact me</a>.
</p>

<style>
	h1 {
		color: red;
		margin-bottom: 50px;
	}
</style>