@media (min-width: 640.98px) {
    .chat {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 70px;
        left: 260px;
        right: 0%;
        bottom: 10px;
    }
}

@media (max-width: 641px) {
    .chat {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 130px;
        left: 20px;
        right: 0%;
        bottom: 10px;
        z-index: -1;
    }

}


.chat {
    scrollbar-color: #000971 #000148;
    overflow: hidden;
}

    .chat > ul {
        flex-grow: 1;
        display: flex;
        flex-direction: column-reverse;
        overflow: scroll;
        overflow-x: hidden;
        word-break: break-word;
        list-style-type: none;
        padding: 0;
    }

.authorName {
    font-weight: bold;
}

.chat .messageContent {
    text-indent: -0.35em;
}

.timestamp {
    opacity: 0.5;
}

#messageInput {
    width: 100%;
}

#messageInputTextBox {
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    width: calc(100% - 70px);
    border-radius: 6px;
    height: 35px;
    background-color: #2d1e34;
    color: white;
}

#sendButton {
    width: 60px;
    background-color: #4f0038;
}

.chat .message * {
    padding: 5px;
    color: white;
}

.chat .selfSentMessage * {
    color: lightgreen;
}

.chat .message:hover {
    background-color: #ffffff1a;
}

#sendButton {
    height: 35px;
    appearance: none;
    background-color: #000aca;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

    #sendButton:focus:not(:focus-visible):not(.focus-visible) {
        box-shadow: none;
        outline: none;
    }

    #sendButton:hover {
        background-color: #00559d;
    }

    #sendButton:focus {
        box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
        outline: none;
    }

    #sendButton:disabled {
        background-color: #333062;
        border-color: rgba(27, 31, 35, .1);
        color: rgba(255, 255, 255, .8);
        cursor: default;
    }

    #sendButton:active {
        background-color: #0028ac;
        box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
    }