@page "/"
@rendermode InteractiveServer
@using EmailService;
@using CactusFrontEnd.Security
@using MessengerInterfaces
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore
@inherits AuthorizedPage

<PageTitle>Home</PageTitle>

<Alert
	Type="@NotificationTypes.Warning"
	@bind-IsVisible="@alertShown">
	<Content>
		@((MarkupString)errorText)
	</Content>
</Alert>
<h1>Cactus Messenger</h1>

Go to a channel to start messaging.

@code {
	[Inject]
	NavigationManager navigationManager { get; set; }
	[Inject]
	IMessengerService messengerService { get; set; }

	protected async override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			await this.Initialize(() => navigationManager.NavigateTo($"logout"));
		}
	}
}