@page "/"
@rendermode InteractiveServer
@using CactusFrontEnd.Security
@using MessengerInterfaces
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedLocalStorage ProtectedLocalStore
@inherits AuthorizedPage

<PageTitle>Home</PageTitle>

<h1>Cactus Messenger</h1>

Go to a channel to start messaging.
<input type="button" @onclick="deleteAll"/>

@code {
	[Inject]
	NavigationManager navigationManager { get; set; }
	[Inject]
	IMessengerService messengerService { get; set; }

	protected async override void OnAfterRender(bool firstRender)
	{
		if (firstRender)
		{
			await this.Initialize(ProtectedLocalStore, () => navigationManager.NavigateTo($"logout"), messengerService);
		}
	}

	private async Task deleteAll()
	{
		await messengerService.DeleteAllMessages();
	}
}